In [5]:
# 6.4 Interacting with the Database
# This script demonstrates how to interact with a database using Python's sqlite3 module.

import sqlite3

query = """
CREATE TABLE IF NOT EXISTS users 
(a VARCHAR(20),
b VARCHAR(20),
c REAL,
d INTEGER
);"""
# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('sample_state.sqlite')
# Execute SQL commands using the connection object
conn.execute(query)
# Commit the changes to the database

In [8]:
conn.commit()
# Close the connection to the database

data = [('Mondstadter', 'Mondo', 1.0, 1),
        ('Liyuer', 'Liyue', 2.0, 2),
        ('Inazuman', 'Inazuma', 3.0, 3),
        ('Sumeru', 'Sumeru', 4.0, 4)]

stmt = "INSERT INTO users VALUES (?, ?, ?, ?)"
# Insert data into the table
conn.executemany(stmt, data)

In [9]:
conn.commit()
# Close the connection to the database
cursor = conn.execute("SELECT * FROM users")
# Fetch and print all rows from the table
rows = cursor.fetchall()

rows

[('Mondstadter', 'Mondo', 1.0, 1),
 ('Liyuer', 'Liyue', 2.0, 2),
 ('Inazuman', 'Inazuma', 3.0, 3),
 ('Sumeru', 'Sumeru', 4.0, 4),
 ('Mondstadter', 'Mondo', 1.0, 1),
 ('Liyuer', 'Liyue', 2.0, 2),
 ('Inazuman', 'Inazuma', 3.0, 3),
 ('Sumeru', 'Sumeru', 4.0, 4)]

In [10]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [13]:
import pandas as pd
# Convert the fetched rows into a pandas DataFrame for easier manipulation and display

pd.DataFrame(rows, columns=[col[0] for col in cursor.description])

             a        b    c  d
0  Mondstadter    Mondo  1.0  1
1       Liyuer    Liyue  2.0  2
2     Inazuman  Inazuma  3.0  3
3       Sumeru   Sumeru  4.0  4
4  Mondstadter    Mondo  1.0  1
5       Liyuer    Liyue  2.0  2
6     Inazuman  Inazuma  3.0  3
7       Sumeru   Sumeru  4.0  4

In [15]:
import sqlalchemy as sa
# Create a SQLAlchemy engine to connect to the SQLite database

db = sa.create_engine('sqlite:///sample_state.sqlite')
# Use the SQLAlchemy engine to read the table into a pandas DataFrame
pd.read_sql('SELECT * FROM users', db)

             a        b    c  d
0  Mondstadter    Mondo  1.0  1
1       Liyuer    Liyue  2.0  2
2     Inazuman  Inazuma  3.0  3
3       Sumeru   Sumeru  4.0  4
4  Mondstadter    Mondo  1.0  1
5       Liyuer    Liyue  2.0  2
6     Inazuman  Inazuma  3.0  3
7       Sumeru   Sumeru  4.0  4