In [1]:
import numpy as np
import matplotlib as plt
import pandas as pd

# Create a sample DataFrame
frame = pd.DataFrame(np.random.standard_normal((4,3)),
                     columns= list("bde"),
                     index=['Mondstad','Liyue', 'Inazuma','Sumeru'])

frame

                 b         d         e
Mondstad  0.501277 -0.110765  0.755310
Liyue     0.899856  0.438378  0.327641
Inazuma   0.354468  0.803319  0.398454
Sumeru   -0.276809  1.105693 -0.543477

In [2]:
np.abs(frame)

                 b         d         e
Mondstad  0.501277  0.110765  0.755310
Liyue     0.899856  0.438378  0.327641
Inazuma   0.354468  0.803319  0.398454
Sumeru    0.276809  1.105693  0.543477

In [3]:
def f1(x):
    return x.max() - x.min()

frame.apply(f1)

b    1.176664
d    1.216458
e    1.298787
dtype: float64

In [4]:
frame.apply(f1, axis='columns')

Mondstad    0.866075
Liyue       0.572215
Inazuma     0.448851
Sumeru      1.649170
dtype: float64

In [5]:
def f2(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

frame.apply(f2)

            b         d         e
min -0.276809 -0.110765 -0.543477
max  0.899856  1.105693  0.755310

In [6]:
def my_format(x):
    return f"{x:.2f}"

frame.applymap(my_format)

C:\Users\NITRO\AppData\Local\Temp\ipykernel_19484\2705683181.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  frame.applymap(my_format)

              b      d      e
Mondstad   0.50  -0.11   0.76
Liyue      0.90   0.44   0.33
Inazuma    0.35   0.80   0.40
Sumeru    -0.28   1.11  -0.54

In [ ]:
frame["e"].map(my_format)

Mondstad     0.76
Liyue        0.33
Inazuma      0.40
Sumeru      -0.54
Name: e, dtype: object