In [28]:
import pandas as pd
# Load the dataset from a CSV file

frame = pd.read_csv('https://s4.nontonanimeid.boats/anime.csv', on_bad_lines='skip')
frame  # Display the first few rows of the DataFrame

HTTPError: HTTP Error 403: Forbidden

In [67]:
import pandas as pd
import requests

url = "https://s4.nontonanimeid.boats/anime.csv"

headers = {
    "User-Agent": "Mozilla/5.0"
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    with open("anime.csv", "wb") as file:
        file.write(response.content)

    frame = pd.read_csv("anime.csv")
    print(frame.head())
else:
    print(f"Failed to download: {response.status_code}")

Failed to download: 404

In [ ]:
import sys
print(sys.executable)  # Shows which Python environment is being used

c:\Users\NITRO\AppData\Local\Programs\Python\Python312\python.exe

In [68]:
frame = pd.read_csv("anime.csv", on_bad_lines='skip')
print(frame.head())

  <!DOCTYPE html><html lang="id-ID"><head><script data-no-optimize="1">var litespeed_docref=sessionStorage.getItem("litespeed_docref");litespeed_docref&&(Object.defineProperty(document  \
0  <a class="linklogo" href="https://s4.nontonani...
1  <input id="s" type="text" name="s" placeholder...
2  <button class="btn" type="submit" aria-label="...
3  <label for="show-menu" class="show-menu"><span...
4  <input type="checkbox" id="show-menu" aria-lab...

  referrer {get:function(){return litespeed_docref}})  \
0      NaN                                        NaN
1      NaN                                        NaN
2      NaN                                        NaN
3      NaN                                        NaN
4      NaN                                        NaN

  sessionStorage.removeItem("litespeed_docref"));</script> <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   initial-scale=1"><title>Nonton Anime ID - Nonton Streaming Anime Sub Indo TV Terbaru</title><style>img:is([sizes="auto" i]  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

    [sizes^="auto  \
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN

    i]) { contain-intrinsic-size: 3000px 1500px }</style><meta name=description" content="Nonton Anime ID menawarkan koleksi nonton anime sub indo terbaru dan terlengkap. Nikmati streaming anime ataupun download dengan kualitas HD secara gratis."/><meta name="robots" content="follow  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

    index   max-snippet:-1   max-video-preview:-1  ...  \
0     NaN              NaN                    NaN  ...
1     NaN              NaN                    NaN  ...
2     NaN              NaN                    NaN  ...
3     NaN              NaN                    NaN  ...
4     NaN              NaN                    NaN  ...

   potentialAction:{"@type":"SearchAction"  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN

   target:"https://s4.nontonanimeid.boats/?s={search_term_string}"  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   query-input:"required name=search_term_string"}}  \
0                                               NaN
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN

   {"@type":"CollectionPage"  @id:"https://s4.nontonanimeid.boats/#webpage"  \
0                        NaN                                            NaN
1                        NaN                                            NaN
2                        NaN                                            NaN
3                        NaN                                            NaN
4                        NaN                                            NaN

   url:"https://s4.nontonanimeid.boats/"  \
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN

   name:"Nonton Anime ID - Nonton Streaming Anime Sub Indo TV Terbaru"  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   about:{"@id":"https://s4.nontonanimeid.boats/#organization"}  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   isPartOf:{"@id":"https://s4.nontonanimeid.boats/#website"}  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   inLanguage:"id"}]}</script> <link rel='dns-prefetch' href='//s4.nontonanimeid.boats' /><link rel='dns-prefetch' href='//cdnjs.cloudflare.com' /><link rel='dns-prefetch' href='//www.googletagmanager.com' /><link rel='dns-prefetch' href='//img.nontonanimeid.boats' /><link rel='dns-prefetch' href='//i0.wp.com' /><link rel="alternate" type="application/rss+xml" title="Nonton Anime ID &raquo; Feed" href="https://s4.nontonanimeid.boats/feed/" /><link rel='stylesheet' id='dstream-style-css' href='https://s4.nontonanimeid.boats/wp-content/themes/kotakanime/style.css?ver=1.0.2.1.5' media='all' /><link rel='stylesheet' id='dashicons-css' href='https://s4.nontonanimeid.boats/wp-includes/css/dashicons.min.css?ver=6.8.1' media='all' /><link rel="icon" href="https://s4.nontonanimeid.boats/wp-content/uploads/2019/09/favicon.png" sizes="32x32" /><link rel="icon" href="https://s4.nontonanimeid.boats/wp-content/uploads/2019/09/favicon.png" sizes="192x192" /><link rel="apple-touch-icon" href="https://s4.nontonanimeid.boats/wp-content/uploads/2019/09/favicon.png" /><meta name="msapplication-TileImage" content="https://s4.nontonanimeid.boats/wp-content/uploads/2019/09/favicon.png" /><link rel="icon" href="https://i0.wp.com/s4.nontonanimeid.boats/wp-content/uploads/2019/09/favicon.png?w=32" sizes="32x32"><link rel="icon" href="https://i0.wp.com/s4.nontonanimeid.boats/wp-content/uploads/2019/09/favicon.png?w=192" sizes="192x192"><link rel="apple-touch-icon" href="https://i0.wp.com/s4.nontonanimeid.boats/wp-content/uploads/favicon/apple-touch-icon.png?w=180"><meta name="msapplication-TileImage" content="https://i0.wp.com/s4.nontonanimeid.boats/wp-content/uploads/favicon/mstile-150x150.png"></head><body><header id="header"><div class="center"><div class="logo">
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

[5 rows x 35 columns]

In [ ]:
frame2 = pd.read_csv("anime.csv", on_bad_lines='warn')
print(frame2.head())
# Display the first few rows of the DataFrame

  <!DOCTYPE html><html lang="id-ID"><head><script data-no-optimize="1">var litespeed_docref=sessionStorage.getItem("litespeed_docref");litespeed_docref&&(Object.defineProperty(document  \
0  <a class="linklogo" href="https://s4.nontonani...
1  <input id="s" type="text" name="s" placeholder...
2  <button class="btn" type="submit" aria-label="...
3  <label for="show-menu" class="show-menu"><span...
4  <input type="checkbox" id="show-menu" aria-lab...

  referrer {get:function(){return litespeed_docref}})  \
0      NaN                                        NaN
1      NaN                                        NaN
2      NaN                                        NaN
3      NaN                                        NaN
4      NaN                                        NaN

  sessionStorage.removeItem("litespeed_docref"));</script> <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   initial-scale=1"><title>Nonton Anime ID - Nonton Streaming Anime Sub Indo TV Terbaru</title><style>img:is([sizes="auto" i]  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

    [sizes^="auto  \
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN

    i]) { contain-intrinsic-size: 3000px 1500px }</style><meta name=description" content="Nonton Anime ID menawarkan koleksi nonton anime sub indo terbaru dan terlengkap. Nikmati streaming anime ataupun download dengan kualitas HD secara gratis."/><meta name="robots" content="follow  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

    index   max-snippet:-1   max-video-preview:-1  ...  \
0     NaN              NaN                    NaN  ...
1     NaN              NaN                    NaN  ...
2     NaN              NaN                    NaN  ...
3     NaN              NaN                    NaN  ...
4     NaN              NaN                    NaN  ...

   potentialAction:{"@type":"SearchAction"  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN

   target:"https://s4.nontonanimeid.boats/?s={search_term_string}"  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   query-input:"required name=search_term_string"}}  \
0                                               NaN
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN

   {"@type":"CollectionPage"  @id:"https://s4.nontonanimeid.boats/#webpage"  \
0                        NaN                                            NaN
1                        NaN                                            NaN
2                        NaN                                            NaN
3                        NaN                                            NaN
4                        NaN                                            NaN

   url:"https://s4.nontonanimeid.boats/"  \
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN

   name:"Nonton Anime ID - Nonton Streaming Anime Sub Indo TV Terbaru"  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   about:{"@id":"https://s4.nontonanimeid.boats/#organization"}  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   isPartOf:{"@id":"https://s4.nontonanimeid.boats/#website"}  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   inLanguage:"id"}]}</script> <link rel='dns-prefetch' href='//s4.nontonanimeid.boats' /><link rel='dns-prefetch' href='//cdnjs.cloudflare.com' /><link rel='dns-prefetch' href='//www.googletagmanager.com' /><link rel='dns-prefetch' href='//img.nontonanimeid.boats' /><link rel='dns-prefetch' href='//i0.wp.com' /><link rel="alternate" type="application/rss+xml" title="Nonton Anime ID &raquo; Feed" href="https://s4.nontonanimeid.boats/feed/" /><link rel='stylesheet' id='dstream-style-css' href='https://s4.nontonanimeid.boats/wp-content/themes/kotakanime/style.css?ver=1.0.2.1.5' media='all' /><link rel='stylesheet' id='dashicons-css' href='https://s4.nontonanimeid.boats/wp-includes/css/dashicons.min.css?ver=6.8.1' media='all' /><link rel="icon" href="https://s4.nontonanimeid.boats/wp-content/uploads/2019/09/favicon.png" sizes="32x32" /><link rel="icon" href="https://s4.nontonanimeid.boats/wp-content/uploads/2019/09/favicon.png" sizes="192x192" /><link rel="apple-touch-icon" href="https://s4.nontonanimeid.boats/wp-content/uploads/2019/09/favicon.png" /><meta name="msapplication-TileImage" content="https://s4.nontonanimeid.boats/wp-content/uploads/2019/09/favicon.png" /><link rel="icon" href="https://i0.wp.com/s4.nontonanimeid.boats/wp-content/uploads/2019/09/favicon.png?w=32" sizes="32x32"><link rel="icon" href="https://i0.wp.com/s4.nontonanimeid.boats/wp-content/uploads/2019/09/favicon.png?w=192" sizes="192x192"><link rel="apple-touch-icon" href="https://i0.wp.com/s4.nontonanimeid.boats/wp-content/uploads/favicon/apple-touch-icon.png?w=180"><meta name="msapplication-TileImage" content="https://i0.wp.com/s4.nontonanimeid.boats/wp-content/uploads/favicon/mstile-150x150.png"></head><body><header id="header"><div class="center"><div class="logo">
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

[5 rows x 35 columns]

C:\Users\NITRO\AppData\Local\Temp\ipykernel_23908\2129926700.py:1: ParserWarning: Skipping line 256: expected 35 fields, saw 37

  frame2 = pd.read_csv("anime.csv", on_bad_lines='warn')

In [ ]:
frame3 = pd.read_csv("ex5.csv", on_bad_lines='skip')
frame3 # Display the first few rows of the DataFrame

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     Foo

In [ ]:
# Save frame3 to a pickle file, then load it
frame3.to_pickle("ex5.pkl")
pd.read_pickle("ex5.pkl")  # Load a DataFrame from a pickle file

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     Foo

In [ ]:
frame4 = pd.read_csv("EvidationData.csv", on_bad_lines='skip', 
                     index_col=0, parse_dates=True)
frame4  # Display the first few rows of the DataFrame

,Source,Kind,Unit,Value,Points,Description
Created at,,,,,,
2025-05-15 09:20:46+00:00,googlefit,exercise,kcal,493.000000,8.0,Exercised for 493 kcals and earned 8 points
2025-05-15 09:20:46+00:00,googlefit,exercise,kcal,1764.000000,8.0,"Exercised for 1,764 kcals and earned 8 points"
2025-05-15 09:20:47+00:00,googlefit,exercise,steps,2.000000,8.0,Exercised for 2 steps and earned 8 points
2025-05-15 09:20:47+00:00,googlefit,exercise,meters,1094.666312,8.0,Exercised for 0.7 miles and earned 8 points
2025-05-15 09:20:47+00:00,googlefit,exercise,meters,466.736306,8.0,Exercised for 0.3 miles and earned 8 points
2025-05-15 09:17:04+00:00,achievemint,first_app_bonus,NaN,1.000000,50.0,Connected first app and earned 50 points
2025-05-15 09:20:48+00:00,googlefit,exercise,meters,2911.670758,8.0,Exercised for 1.8 miles and earned 8 points
2025-05-17 12:25:46+00:00,googlefit,exercise,meters,3957.562306,8.0,Exercised for 2.5 miles and earned 8 points
2025-05-17 12:25:44+00:00,achievemint,offer_bonus,NaN,1.000000,300.0,Added information to profile and earned 300 po...
2025-05-17 12:32:04+00:00,achievemint,offer_bonus,NaN,1.000000,300.0,Added health conditions to profile and earned ...
2025-05-17 12:32:25+00:00,achievemint,diary_bonus,NaN,1.000000,1.0,Logged mood and earned 1 point
2025-05-17 12:32:37+00:00,achievemint,diary_bonus,NaN,1.000000,1.0,Logged sleep quality and earned 1 point
2025-05-17 12:32:48+00:00,achievemint,diary_bonus,NaN,1.000000,1.0,Logged quality of life and earned 1 point
2025-05-17 12:32:58+00:00,achievemint,diary_bonus,NaN,1.000000,1.0,Logged satisfaction with health and earned 1 p...
2025-05-17 12:33:07+00:00,achievemint,diary_bonus,NaN,1.000000,1.0,Logged stress and earned 1 point
2025-05-17 12:33:14+00:00,achievemint,offer_bonus,NaN,1.000000,3.0,Answered question about being a veteran and ea...
2025-05-17 12:33:28+00:00,achievemint,offer_bonus,NaN,1.000000,3.0,Read about swimming with Arthritis and earned ...
2025-05-17 12:36:45+00:00,achievemint,offer_bonus,NaN,1.000000,3.0,Answered question about research opportunities...
2025-05-17 12:36:59+00:00,achievemint,offer_bonus,NaN,1.000000,3.0,Read Did You Know featuring how to get rid of ...
2025-05-17 23:58:12+00:00,achievemint,offer_bonus,NaN,1.000000,50.0,"Completed body/muscle, and joint pain treatmen..."
2025-05-17 23:59:01+00:00,achievemint,offer_bonus,NaN,1.000000,3.0,Learned about personality and health and earne...
2025-05-17 23:59:45+00:00,achievemint,offer_bonus,NaN,1.000000,3.0,Opted in to personality surveys and earned 3 p...
2025-05-17 12:25:46+00:00,googlefit,exercise,meters,2484.072619,8.0,Exercised for 1.5 miles and earned 8 points
2025-05-18 00:00:02+00:00,achievemint,offer_bonus,NaN,1.000000,5.0,Learned about heart health for Veterans and ea...
2025-05-18 00:03:31+00:00,achievemint,offer_bonus,NaN,1.000000,10.0,Completed personality survey and earned 10 points
2025-05-18 00:03:50+00:00,achievemint,offer_bonus,NaN,1.000000,5.0,"Read about high protein, low calorie foods and..."
2025-05-18 05:15:49+00:00,googlefit,exercise,steps,54.000000,8.0,Exercised for 54 steps and earned 8 points
2025-05-19 06:40:23+00:00,googlefit,exercise,meters,1734.270788,8.0,Exercised for 1.1 miles and earned 8 points
2025-05-20 08:40:10+00:00,googlefit,exercise,meters,1707.867191,8.0,Exercised for 1.1 miles and earned 8 points
2025-05-21 13:20:19+00:00,googlefit,exercise,steps,9.000000,8.0,Exercised for 9 steps and earned 8 points
2025-05-22 09:02:34+00:00,googlefit,exercise,meters,3117.134633,8.0,Exercised for 1.9 miles and earned 8 points
2025-05-23 05:36:50+00:00,googlefit,exercise,meters,6478.776520,8.0,Exercised for 4.0 miles and earned 8 points
2025-05-24 00:50:09+00:00,googlefit,exercise,meters,535.355807,8.0,Exercised for 0.3 miles and earned 8 points

In [ ]:
# Make sure frame4 is defined before using it
# If not already run, execute the cell that defines frame4:
frame4 = pd.read_csv("EvidationData.csv", on_bad_lines='skip', index_col=0, parse_dates=True)

# Remove timezone info from index before saving to Excel
frame4_no_tz = frame4.copy()
frame4_no_tz.index = frame4_no_tz.index.tz_localize(None)

frame4_no_tz.to_excel("EvidationData.xlsx")  # Save DataFrame to an Excel file
pd.read_excel("EvidationData.xlsx")  # Load a DataFrame from an Excel file

,Created at,Source,Kind,Unit,Value,Points,Description
0,2025-05-15 09:20:46,googlefit,exercise,kcal,493.000000,8,Exercised for 493 kcals and earned 8 points
1,2025-05-15 09:20:46,googlefit,exercise,kcal,1764.000000,8,"Exercised for 1,764 kcals and earned 8 points"
2,2025-05-15 09:20:47,googlefit,exercise,steps,2.000000,8,Exercised for 2 steps and earned 8 points
3,2025-05-15 09:20:47,googlefit,exercise,meters,1094.666312,8,Exercised for 0.7 miles and earned 8 points
4,2025-05-15 09:20:47,googlefit,exercise,meters,466.736306,8,Exercised for 0.3 miles and earned 8 points
5,2025-05-15 09:17:04,achievemint,first_app_bonus,NaN,1.000000,50,Connected first app and earned 50 points
6,2025-05-15 09:20:48,googlefit,exercise,meters,2911.670758,8,Exercised for 1.8 miles and earned 8 points
7,2025-05-17 12:25:46,googlefit,exercise,meters,3957.562306,8,Exercised for 2.5 miles and earned 8 points
8,2025-05-17 12:25:44,achievemint,offer_bonus,NaN,1.000000,300,Added information to profile and earned 300 po...
9,2025-05-17 12:32:04,achievemint,offer_bonus,NaN,1.000000,300,Added health conditions to profile and earned ...
10,2025-05-17 12:32:25,achievemint,diary_bonus,NaN,1.000000,1,Logged mood and earned 1 point
11,2025-05-17 12:32:37,achievemint,diary_bonus,NaN,1.000000,1,Logged sleep quality and earned 1 point
12,2025-05-17 12:32:48,achievemint,diary_bonus,NaN,1.000000,1,Logged quality of life and earned 1 point
13,2025-05-17 12:32:58,achievemint,diary_bonus,NaN,1.000000,1,Logged satisfaction with health and earned 1 p...
14,2025-05-17 12:33:07,achievemint,diary_bonus,NaN,1.000000,1,Logged stress and earned 1 point
15,2025-05-17 12:33:14,achievemint,offer_bonus,NaN,1.000000,3,Answered question about being a veteran and ea...
16,2025-05-17 12:33:28,achievemint,offer_bonus,NaN,1.000000,3,Read about swimming with Arthritis and earned ...
17,2025-05-17 12:36:45,achievemint,offer_bonus,NaN,1.000000,3,Answered question about research opportunities...
18,2025-05-17 12:36:59,achievemint,offer_bonus,NaN,1.000000,3,Read Did You Know featuring how to get rid of ...
19,2025-05-17 23:58:12,achievemint,offer_bonus,NaN,1.000000,50,"Completed body/muscle, and joint pain treatmen..."
20,2025-05-17 23:59:01,achievemint,offer_bonus,NaN,1.000000,3,Learned about personality and health and earne...
21,2025-05-17 23:59:45,achievemint,offer_bonus,NaN,1.000000,3,Opted in to personality surveys and earned 3 p...
22,2025-05-17 12:25:46,googlefit,exercise,meters,2484.072619,8,Exercised for 1.5 miles and earned 8 points
23,2025-05-18 00:00:02,achievemint,offer_bonus,NaN,1.000000,5,Learned about heart health for Veterans and ea...
24,2025-05-18 00:03:31,achievemint,offer_bonus,NaN,1.000000,10,Completed personality survey and earned 10 points
25,2025-05-18 00:03:50,achievemint,offer_bonus,NaN,1.000000,5,"Read about high protein, low calorie foods and..."
26,2025-05-18 05:15:49,googlefit,exercise,steps,54.000000,8,Exercised for 54 steps and earned 8 points
27,2025-05-19 06:40:23,googlefit,exercise,meters,1734.270788,8,Exercised for 1.1 miles and earned 8 points
28,2025-05-20 08:40:10,googlefit,exercise,meters,1707.867191,8,Exercised for 1.1 miles and earned 8 points
29,2025-05-21 13:20:19,googlefit,exercise,steps,9.000000,8,Exercised for 9 steps and earned 8 points
30,2025-05-22 09:02:34,googlefit,exercise,meters,3117.134633,8,Exercised for 1.9 miles and earned 8 points
31,2025-05-23 05:36:50,googlefit,exercise,meters,6478.776520,8,Exercised for 4.0 miles and earned 8 points
32,2025-05-24 00:50:09,googlefit,exercise,meters,535.355807,8,Exercised for 0.3 miles and earned 8 points

In [ ]:
import os
import sys

# Define the paths
env_path = r"G:\Engineering & Design Archives\Computing Engineering\Data Science & Engineering Work\Virtual_Environment_Machine\ei_env"
# or eienv - your environment
scripts_path = os.path.join(env_path, 'Scripts')

# Add the Scripts path to the system PATH
os.environ["PATH"] = scripts_path + os.pathsep + os.environ["PATH"]

# Verify the Python version from the virtual environment
print(sys.executable)
print(sys.version)

g:\Engineering & Design Archives\Computing Engineering\Data Science & Engineering Work\Virtual_Environment_Machine\eienv\Scripts\python.exe
3.12.0 (tags/v3.12.0:0fb18b0, Oct  2 2023, 13:03:39) [MSC v.1935 64 bit (AMD64)]

In [ ]:
xcel = pd.ExcelFile("EvidationData.xlsx")  # Load an Excel file
print(xcel.sheet_names)  # Display the names of the sheets in the Excel file

['Sheet1']

In [ ]:
xcel.parse("Sheet1")  # Parse a specific sheet from the Excel file

,Created at,Source,Kind,Unit,Value,Points,Description
0,2025-05-15 09:20:46,googlefit,exercise,kcal,493.000000,8,Exercised for 493 kcals and earned 8 points
1,2025-05-15 09:20:46,googlefit,exercise,kcal,1764.000000,8,"Exercised for 1,764 kcals and earned 8 points"
2,2025-05-15 09:20:47,googlefit,exercise,steps,2.000000,8,Exercised for 2 steps and earned 8 points
3,2025-05-15 09:20:47,googlefit,exercise,meters,1094.666312,8,Exercised for 0.7 miles and earned 8 points
4,2025-05-15 09:20:47,googlefit,exercise,meters,466.736306,8,Exercised for 0.3 miles and earned 8 points
5,2025-05-15 09:17:04,achievemint,first_app_bonus,NaN,1.000000,50,Connected first app and earned 50 points
6,2025-05-15 09:20:48,googlefit,exercise,meters,2911.670758,8,Exercised for 1.8 miles and earned 8 points
7,2025-05-17 12:25:46,googlefit,exercise,meters,3957.562306,8,Exercised for 2.5 miles and earned 8 points
8,2025-05-17 12:25:44,achievemint,offer_bonus,NaN,1.000000,300,Added information to profile and earned 300 po...
9,2025-05-17 12:32:04,achievemint,offer_bonus,NaN,1.000000,300,Added health conditions to profile and earned ...
10,2025-05-17 12:32:25,achievemint,diary_bonus,NaN,1.000000,1,Logged mood and earned 1 point
11,2025-05-17 12:32:37,achievemint,diary_bonus,NaN,1.000000,1,Logged sleep quality and earned 1 point
12,2025-05-17 12:32:48,achievemint,diary_bonus,NaN,1.000000,1,Logged quality of life and earned 1 point
13,2025-05-17 12:32:58,achievemint,diary_bonus,NaN,1.000000,1,Logged satisfaction with health and earned 1 p...
14,2025-05-17 12:33:07,achievemint,diary_bonus,NaN,1.000000,1,Logged stress and earned 1 point
15,2025-05-17 12:33:14,achievemint,offer_bonus,NaN,1.000000,3,Answered question about being a veteran and ea...
16,2025-05-17 12:33:28,achievemint,offer_bonus,NaN,1.000000,3,Read about swimming with Arthritis and earned ...
17,2025-05-17 12:36:45,achievemint,offer_bonus,NaN,1.000000,3,Answered question about research opportunities...
18,2025-05-17 12:36:59,achievemint,offer_bonus,NaN,1.000000,3,Read Did You Know featuring how to get rid of ...
19,2025-05-17 23:58:12,achievemint,offer_bonus,NaN,1.000000,50,"Completed body/muscle, and joint pain treatmen..."
20,2025-05-17 23:59:01,achievemint,offer_bonus,NaN,1.000000,3,Learned about personality and health and earne...
21,2025-05-17 23:59:45,achievemint,offer_bonus,NaN,1.000000,3,Opted in to personality surveys and earned 3 p...
22,2025-05-17 12:25:46,googlefit,exercise,meters,2484.072619,8,Exercised for 1.5 miles and earned 8 points
23,2025-05-18 00:00:02,achievemint,offer_bonus,NaN,1.000000,5,Learned about heart health for Veterans and ea...
24,2025-05-18 00:03:31,achievemint,offer_bonus,NaN,1.000000,10,Completed personality survey and earned 10 points
25,2025-05-18 00:03:50,achievemint,offer_bonus,NaN,1.000000,5,"Read about high protein, low calorie foods and..."
26,2025-05-18 05:15:49,googlefit,exercise,steps,54.000000,8,Exercised for 54 steps and earned 8 points
27,2025-05-19 06:40:23,googlefit,exercise,meters,1734.270788,8,Exercised for 1.1 miles and earned 8 points
28,2025-05-20 08:40:10,googlefit,exercise,meters,1707.867191,8,Exercised for 1.1 miles and earned 8 points
29,2025-05-21 13:20:19,googlefit,exercise,steps,9.000000,8,Exercised for 9 steps and earned 8 points
30,2025-05-22 09:02:34,googlefit,exercise,meters,3117.134633,8,Exercised for 1.9 miles and earned 8 points
31,2025-05-23 05:36:50,googlefit,exercise,meters,6478.776520,8,Exercised for 4.0 miles and earned 8 points
32,2025-05-24 00:50:09,googlefit,exercise,meters,535.355807,8,Exercised for 0.3 miles and earned 8 points

In [ ]:
!"G:\ebook\Certificate & Skill\Revo U - DAMC\Study Case 7-18 april 2025\merged_damc.xlsx"

In [ ]:
xcel2 = pd.ExcelFile("G:\ebook\Certificate & Skill\Revo U - DAMC\Study Case 7-18 april 2025\merged_damc.xlsx")  # Load an Excel file
print(xcel2.sheet_names)  # Display the names of the sheets in the Excel file

['data crude', 'Price Each', 'Sales', 'Order Number', 'Month_MSRP_Sales', 'MSRP_', 'QTR_ID_Sales_Year', 'YEAR_ID', 'Order Date', 'Sheet2']

<>:1: SyntaxWarning: invalid escape sequence '\e'
<>:1: SyntaxWarning: invalid escape sequence '\e'
C:\Users\NITRO\AppData\Local\Temp\ipykernel_2068\1551216456.py:1: SyntaxWarning: invalid escape sequence '\e'
  xcel2 = pd.ExcelFile("G:\ebook\Certificate & Skill\Revo U - DAMC\Study Case 7-18 april 2025\merged_damc.xlsx")  # Load an Excel file

In [ ]:
frame5 = xcel2.parse("data crude", on_bad_lines="skip")  # Parse a specific sheet from the Excel file

frame5.head()  # Display the first few rows of the DataFrame

,ORDER NUMBER,QUANTITY ORDER,PRICE EACH,ORDER LINE NUMBER,SALES,ORDER DATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PHONE,ADDRESS LINE,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACT LAST,CONTACT FIRST,DEAL SIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1.0,2.0,2003,...,2125557818,897 Long Airport Avenue,NYC,NY,NaN,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2.0,5.0,2003,...,26.47.1555,59 rue de l'Abbaye,Reims,NaN,NaN,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3.0,7.0,2003,...,+33 1 46 62 755,27 rue du Colonel Pierre Avia,Paris,NaN,NaN,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3.0,8.0,2003,...,6265557265,78934 Hillside Dr.,Pasadena,CA,NaN,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4.0,10.0,2003,...,6505551386,7734 Strong St. San Francisco,NaN,CA,NaN,USA,NaN,Brown,Julie,Medium

In [ ]:
frame6 = xcel2.parse("Sales", on_bad_lines="skip")  # Parse a specific sheet from the Excel file

frame6.head()  # Display the first few rows of the DataFrame

  Row Labels  Sum of SALES
0      10022     389524.97
1   106-0032     110125.30
2       1734     145041.60
3          2      57756.43
4       2060     151579.57

In [ ]:
# Using HDF5 format for large datasets
frame5.to_hdf("data_crude.h5", key="data_crude", mode="w")  # Save DataFrame to HDF5 file
frame5_hdf = pd.read_hdf("data_crude.h5", key="data_crude")  # Load DataFrame from HDF5 file
print(frame5_hdf.head())  # Display the first few rows of the DataFrame loaded from HDF5

   ORDER NUMBER  QUANTITY ORDER  PRICE EACH  ORDER LINE NUMBER    SALES  \
0         10107              30       95.70                  2  2871.00
1         10121              34       81.35                  5  2765.90
2         10134              41       94.74                  2  3884.34
3         10145              45       83.26                  6  3746.70
4         10159              49      100.00                 14  5205.27

        ORDER DATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...            PHONE  \
0   2/24/2003 0:00  Shipped     1.0       2.0     2003  ...       2125557818
1    5/7/2003 0:00  Shipped     2.0       5.0     2003  ...       26.47.1555
2    7/1/2003 0:00  Shipped     3.0       7.0     2003  ...  +33 1 46 62 755
3   8/25/2003 0:00  Shipped     3.0       8.0     2003  ...       6265557265
4  10/10/2003 0:00  Shipped     4.0      10.0     2003  ...       6505551386

                    ADDRESS LINE      CITY STATE POSTALCODE COUNTRY TERRITORY  \
0        897 Long Airport Avenue       NYC    NY        NaN     USA       NaN
1             59 rue de l'Abbaye     Reims   NaN        NaN  France      EMEA
2  27 rue du Colonel Pierre Avia     Paris   NaN        NaN  France      EMEA
3             78934 Hillside Dr.  Pasadena    CA        NaN     USA       NaN
4  7734 Strong St. San Francisco       NaN    CA        NaN     USA       NaN

  CONTACT LAST  CONTACT FIRST DEAL SIZE
0           Yu           Kwai     Small
1      Henriot           Paul     Small
2     Da Cunha         Daniel    Medium
3        Young          Julie    Medium
4        Brown          Julie    Medium

[5 rows x 24 columns]

C:\Users\NITRO\AppData\Local\Temp\ipykernel_2068\3090768272.py:2: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['ORDER DATE', 'STATUS', 'PRODUCT LINE', 'PRODUCT CODE', 'CUSTOMER NAME',
       'PHONE', 'ADDRESS LINE', 'CITY', 'STATE', 'COUNTRY', 'TERRITORY',
       'CONTACT LAST', 'CONTACT FIRST', 'DEAL SIZE'],
      dtype='object')]

  frame5.to_hdf("data_crude.h5", key="data_crude", mode="w")  # Save DataFrame to HDF5 file

In [29]:
import numpy as np
# Create a DataFrame with random data and save it to an HDFStore

frame7 = pd.DataFrame({"yae": np.random.standard_normal(100)})

store = pd.HDFStore("ex5.h5")  # Create an HDFStore object
store["frame7"] = frame7  # Save DataFrame to HDFStore

In [30]:
with pd.HDFStore("ex5.h5") as store:
	store["lumine1"] = frame7  # Save another DataFrame to HDFStore
	store["lumine_artifact"] = frame7["yae"]  # Save another DataFrame to HDFStore

In [31]:
store  # Display the contents of the HDFStore

<class 'pandas.io.pytables.HDFStore'>
File path: ex5.h5

In [32]:
with pd.HDFStore("ex5.h5") as store:
	print(store["frame7"].head())  # Display the first few rows of the DataFrame stored in HDFStore

        yae
0 -0.402850
1 -0.058708
2  1.687265
3  1.102102
4 -0.011456

In [33]:
with pd.HDFStore("ex5.h5") as store:
	display(store["frame7"])  # Display the first few rows of the DataFrame stored in HDFStore

         yae
0  -0.402850
1  -0.058708
2   1.687265
3   1.102102
4  -0.011456
..       ...
95  0.908265
96 -0.226547
97  0.660783
98 -1.290818
99 -3.518513

[100 rows x 1 columns]

In [34]:
with pd.HDFStore("ex5.h5") as store:
	display(store["lumine1"].head())  # Display the first few rows of the DataFrame stored in HDFStore

        yae
0 -0.402850
1 -0.058708
2  1.687265
3  1.102102
4 -0.011456

In [35]:
with pd.HDFStore("ex5.h5") as store:
	display(store["lumine1"])  # Display the first few rows of the DataFrame stored in HDFStore

         yae
0  -0.402850
1  -0.058708
2   1.687265
3   1.102102
4  -0.011456
..       ...
95  0.908265
96 -0.226547
97  0.660783
98 -1.290818
99 -3.518513

[100 rows x 1 columns]

In [36]:
with pd.HDFStore("ex5.h5") as store:
	display(store["lumine_artifact"].head())  # Display the first few rows of the DataFrame stored in HDFStore

0   -0.402850
1   -0.058708
2    1.687265
3    1.102102
4   -0.011456
Name: yae, dtype: float64

In [37]:
with pd.HDFStore("ex5.h5") as store:
	display(store["lumine_artifact"])  # Display the first few rows of the DataFrame stored in HDFStore

0    -0.402850
1    -0.058708
2     1.687265
3     1.102102
4    -0.011456
        ...
95    0.908265
96   -0.226547
97    0.660783
98   -1.290818
99   -3.518513
Name: yae, Length: 100, dtype: float64

In [38]:
with pd.HDFStore("ex5.h5") as store:
	display(store.get("lumine_artifact").head())  
# Display the first few rows of the DataFrame stored in HDFStore

0   -0.402850
1   -0.058708
2    1.687265
3    1.102102
4   -0.011456
Name: yae, dtype: float64

In [39]:
with pd.HDFStore("ex5.h5") as store:
	attrs = store.get_storer("lumine_artifact").attrs  # Display the attributes of the DataFrame stored in HDFStore
	display(attrs)

/lumine_artifact._v_attrs (AttributeSet), 9 attributes:
   [CLASS := np.str_('GROUP'),
    TITLE := np.str_(''),
    VERSION := np.str_('1.0'),
    encoding := np.str_('UTF-8'),
    errors := np.str_('strict'),
    index_variety := np.str_('regular'),
    name := np.str_('yae'),
    pandas_type := np.str_('series'),
    pandas_version := np.str_('0.15.2')]

In [45]:
with pd.HDFStore("ex5.h5") as store:
    store.put("lumine_artifact", frame7["yae"], format="table")  # Save DataFrame to HDFStore in table format
    result = store.select("lumine_artifact", where="index >= 10 and index <=20")
display(result)
# Select rows from the DataFrame stored in HDFStore based on index range

10   -0.206681
11    1.109534
12   -1.229497
13   -0.275037
14   -0.861802
15    0.389349
16   -2.062450
17   -0.550568
18   -0.481718
19    1.071040
20   -0.768352
Name: yae, dtype: float64

In [48]:
with pd.HDFStore("ex5.h5") as store:
    store.put("lumine_artifact", frame7["yae"], format="table")    
    display(store.select("lumine_artifact", 
                     where="index >= 10 and index <=20"))  # Select rows from the DataFrame stored in HDFStore based on index range

10   -0.206681
11    1.109534
12   -1.229497
13   -0.275037
14   -0.861802
15    0.389349
16   -2.062450
17   -0.550568
18   -0.481718
19    1.071040
20   -0.768352
Name: yae, dtype: float64

In [69]:
store.close()  # Close the HDFStore
# prevent the HDFStore from being closed automatically
# prevent leaking file descriptors

In [71]:
# shortcut way to open an HDFStore
frame7.to_hdf("ex5.h5", key="frame7", format="table") 
# Save DataFrame to HDF5 file

store.close()  # Close the HDFStore before reading

pd.read_hdf("ex5.h5", key="frame7", 
            where=["index <5 and index <=20"])  
# Load DataFrame from HDF5 file

ValueError: The file 'ex5.h5' is already opened, but not in read-only mode (as requested).

In [ ]:
# if you want to remove HDFStore file
#import os
#os.remove("ex5.h5")  # Remove the HDFStore file if it exists