In [20]:
#7.3 Extension Data Types
#https://docs.python.org/3/library/stdtypes.html#extension-types

import pandas as pd
import numpy as np

s = pd.Series([1,2,3,None])

s

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [21]:
s.dtype

dtype('float64')

In [22]:
s1 = pd.Series([1,2,3, None], dtype=pd.Int64Dtype)
s1

C:\Users\NITRO\AppData\Local\Temp\ipykernel_2912\959206243.py:1: UserWarning: Instantiating Int64Dtype without any arguments.Pass a Int64Dtype instance to silence this warning.
  s1 = pd.Series([1,2,3, None], dtype=pd.Int64Dtype)

0       1
1       2
2       3
3    <NA>
dtype: Int64

In [23]:
s1.isna()

0    False
1    False
2    False
3     True
dtype: bool

In [24]:
s1.dtype

Int64Dtype()

In [25]:
s1[3]

In [26]:
s1[3] is pd.NA

True

In [27]:
s2 = pd.Series([1,2,3, None], dtype="Int64")
s2

0       1
1       2
2       3
3    <NA>
dtype: Int64

In [28]:
s3 = pd.Series(['one', 'two', None ,'three'], dtype=pd.StringDtype())
s3

0      one
1      two
2     <NA>
3    three
dtype: string

In [29]:
df = pd.DataFrame({"A":s2,
                   "B":s3,
                   "C": [False, None, False, True]})
df

      A      B      C
0     1    one  False
1     2    two   None
2     3   <NA>  False
3  <NA>  three   True

In [30]:
df['A'] = df["A"].astype("Int64") 
df['B'] = df["B"].astype("string")
df['C'] = df["C"].astype("boolean")

df

      A      B      C
0     1    one  False
1     2    two   <NA>
2     3   <NA>  False
3  <NA>  three   True

In [31]:
del df

In [ ]:
# BooelanDtype     -- Nullable Boolean data, use "boolean" 
#                     when passing as string

# CategoricalDtype -- Categorical data type, use "category"
#                     when passing as string

# DatetimeTZDtype  -- Datetime with time zone

# Float32Dtype     -- 32-bit nullable floating point, use 
#                     "FLoat32" when passing as string 

# Float64Dtype     -- 64-bit nullable floating point, use 
#                     "FLoat64" when passing as string

# Int8Dtype        -- 8-bit nullable signed integer, use 
#                     "Int8" when passing as string

# Int16Dtype       -- 16-bit nullable sigend integer, use 
#                     "Int16" when passing as string

# Int32Dtype       -- 32-bit nullable sigend integer, use 
#                     "Int32" when passing as string

# Int64Dtype       -- 64-bit nullable sigend integer, use 
#                     "Int32" when passing as string

# Uint8Dtype       -- 8-bit nullable unsigend integer, use 
#                     "UInt8" when passing as string
# UInt16Dtype
# UInt32Dtype, UInt64Dtype   -- UInt16, UInt32, UInt64