In [2]:
# 7.2 Categorical data
# --- a/vscode-notebook-cell:/g%3A/Engineering%20%26
# 20Design%20Archives/Computing%20Engineering/Data%20Science%20%26%20Engineering%20Work/Python%20Grimoire%20at%20work/Data%20Analyst%20Concepts/Wes%20McKinney-Python%20for%20Data%20Analyst/Chapter%207%20Data%20Cleaning%20%26%20preparations/ch7_4_string_manipulation.ipynb#X64sZmlsZQ%3D%3D
# +++ b/vscode-notebook-cell:/g%3A/Engineering%20%
# 26%20Design%20Archives/Computing%20Engineering/Data%20Science%20%26%20Engineering%20Work/Python%20Grimoire%20at%20work/Data%20Analyst%20Concepts/Wes%20McKinney-Python%20for%20Data%20Analyst/Chapter%207%20Data%20Cleaning%20%26%20preparations/ch7_4_string_manipulation.ipynb#X64sZmlsZQ%3D%3D
# @@ -1,1 +1,1 @@
# +data.str.replace("gmail", "googlemail", regex=False)
# -d --- IGNORE ---
# File: ch7_4_string_manipulation.ipynb
# --- a/vscode-notebook-cell:/g%3A/Engineering%20%26
# 20Design%20Archives/Computing%20Engineering/Data%20Science%20%26%20Engineering%20Work/Python%20Grimoire%20at%20work/Data%20Analyst%20Concepts/Wes%20McKinney-Python%20for%20Data%20Analyst/Chapter%207%20Data%20Cleaning%20%26%20preparations/ch7_4_string_manipulation.ipynb#X65sZmlsZQ%3D%3D
# +++ b/vscode-notebook-cell:/g%3A/Engineering%20%26%20Design%20Archives/Computing%20Engineering/Data%20Science%20%26%20Engineering%20Work/Python%20Grimoire%20at%20work/Data%20Analyst%20Concepts/Wes%20McKinney-Python%20for%20Data%20Analyst/Chapter%207%20Data%20Cleaning%20%26%20preparations/ch7_4_string_manipulation.ipynb#X65sZmlsZQ%3D%3D

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
# Sample data

values = pd.Series(['btc', 'litecoin', 'btc', 'btc'] * 2)

values  
# Convert the Series to string type to avoid NaN issues

0         btc
1    litecoin
2         btc
3         btc
4         btc
5    litecoin
6         btc
7         btc
dtype: object

In [4]:
pd.unique(values.astype(str))

array(['btc', 'litecoin'], dtype=object)

In [5]:
pd.unique(values)

array(['btc', 'litecoin'], dtype=object)

In [6]:
pd.value_counts(values)

C:\Users\NITRO\AppData\Local\Temp\ipykernel_9828\3297668723.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(values)

btc         6
litecoin    2
Name: count, dtype: int64

In [7]:
values1 = pd.Series(['0', '1', '0', '0'] * 2)

dim = pd.Series(['bitcoin', 'litecoin'])
# Create a DataFrame with the values and dimensions
df = pd.DataFrame({'values': values1, 'dim': dim})
# Convert the 'values' column to categorical
df['values'] = df['values'].astype('category')
# Display the DataFrame
df

  values       dim
0      0   bitcoin
1      1  litecoin
2      0       NaN
3      0       NaN
4      0       NaN
5      1       NaN
6      0       NaN
7      0       NaN

In [8]:
values1

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: object

In [9]:
dim

0     bitcoin
1    litecoin
dtype: object

In [10]:
dim.take(values1)

0     bitcoin
1    litecoin
0     bitcoin
0     bitcoin
0     bitcoin
1    litecoin
0     bitcoin
0     bitcoin
dtype: object

In [11]:
currencies = ['bitcoin', 'litecoin', 'bitcoin', 'bitcoin'] *2
# Create a Series with the currencies
N = len(currencies)
rng = np.random.default_rng(seed=12345)

df1 = pd.DataFrame({'currency': currencies,
                   'crypto_id':np.arange(N), 
                   'value': rng.integers(3, 15, size=N), # random integers between 3 and 15
                   'volume': rng.uniform(0, 4, size=N)}, # random floats between 0 and 4
                   columns=['crypto_id', 'currency', 'value', 'volume'])
# Display the DataFrame
df1

   crypto_id  currency  value    volume
0          0   bitcoin     11  1.564438
1          1  litecoin      5  1.331256
2          2   bitcoin     12  2.393235
3          3   bitcoin      6  0.746937
4          4   bitcoin      5  2.691024
5          5  litecoin     12  3.767211
6          6   bitcoin     10  0.992983
7          7   bitcoin     11  3.795525

In [12]:
currencies_cat = pd.Categorical(currencies)
# Display the Categorical object
currencies_cat

['bitcoin', 'litecoin', 'bitcoin', 'bitcoin', 'bitcoin', 'litecoin', 'bitcoin', 'bitcoin']
Categories (2, object): ['bitcoin', 'litecoin']

In [13]:
currencies_cat = df1['currency'].astype('category')
# Display the Categorical object
currencies_cat

0     bitcoin
1    litecoin
2     bitcoin
3     bitcoin
4     bitcoin
5    litecoin
6     bitcoin
7     bitcoin
Name: currency, dtype: category
Categories (2, object): ['bitcoin', 'litecoin']

In [14]:
c = currencies_cat.array

type(c)

pandas.core.arrays.categorical.Categorical

In [15]:
c.categories

Index(['bitcoin', 'litecoin'], dtype='object')

In [16]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [17]:
mapping = {'bitcoin': 0, 'litecoin': 1}
d = c.map(mapping)
d

C:\Users\NITRO\AppData\Local\Temp\ipykernel_9828\1564522419.py:2: FutureWarning: The default value of 'ignore' for the `na_action` parameter in pandas.Categorical.map is deprecated and will be changed to 'None' in a future version. Please set na_action to the desired value to avoid seeing this warning
  d = c.map(mapping)

[0, 1, 0, 0, 0, 1, 0, 0]
Categories (2, int64): [0, 1]

In [18]:
# Restore built-in dict if overwritten
if 'dict' in globals() and not isinstance(dict, type):
	del dict

# Convert the Categorical object to a dictionary mapping category codes to category names
category_dict = dict(enumerate(c.categories))

In [19]:
category_dict

{0: 'bitcoin', 1: 'litecoin'}

In [20]:
df1['currency'] = df1['currency'].astype('category')
# Display the DataFrame with the categorical column
df1

   crypto_id  currency  value    volume
0          0   bitcoin     11  1.564438
1          1  litecoin      5  1.331256
2          2   bitcoin     12  2.393235
3          3   bitcoin      6  0.746937
4          4   bitcoin      5  2.691024
5          5  litecoin     12  3.767211
6          6   bitcoin     10  0.992983
7          7   bitcoin     11  3.795525

In [21]:
df1['currency']

0     bitcoin
1    litecoin
2     bitcoin
3     bitcoin
4     bitcoin
5    litecoin
6     bitcoin
7     bitcoin
Name: currency, dtype: category
Categories (2, object): ['bitcoin', 'litecoin']

In [22]:
my_categories = pd.Categorical(['bitcoin', 'litecoin', 'dogecoin', 'bitcoin','litecoin'])
# Display the Categorical object
my_categories

['bitcoin', 'litecoin', 'dogecoin', 'bitcoin', 'litecoin']
Categories (3, object): ['bitcoin', 'dogecoin', 'litecoin']

In [23]:
categories = ['bitcoin', 'litecoin', 'dogecoin']

codes = [0, 1, 2, 0, 0, 1]

my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

['bitcoin', 'litecoin', 'dogecoin', 'bitcoin', 'bitcoin', 'litecoin']
Categories (3, object): ['bitcoin', 'litecoin', 'dogecoin']

In [24]:
ordered_cats = pd.Categorical.from_codes(codes, categories, ordered=True)
ordered_cats

['bitcoin', 'litecoin', 'dogecoin', 'bitcoin', 'bitcoin', 'litecoin']
Categories (3, object): ['bitcoin' < 'litecoin' < 'dogecoin']

In [25]:
my_cats_2.as_ordered()

['bitcoin', 'litecoin', 'dogecoin', 'bitcoin', 'bitcoin', 'litecoin']
Categories (3, object): ['bitcoin' < 'litecoin' < 'dogecoin']

In [26]:
# Computation on Categorical data
ordered_cats = my_cats_2.as_ordered()
# --- IGNORE ---
# End of recent edits
ordered_cats

['bitcoin', 'litecoin', 'dogecoin', 'bitcoin', 'bitcoin', 'litecoin']
Categories (3, object): ['bitcoin' < 'litecoin' < 'dogecoin']

In [27]:
rng = np.random.default_rng(seed=12345)

draws = rng.choice(ordered_cats, size=1000, replace=True)
draws[:20]

array(['bitcoin', 'litecoin', 'bitcoin', 'litecoin', 'litecoin',
       'bitcoin', 'bitcoin', 'bitcoin', 'litecoin', 'dogecoin',
       'litecoin', 'litecoin', 'bitcoin', 'bitcoin', 'litecoin',
       'litecoin', 'litecoin', 'bitcoin', 'bitcoin', 'litecoin'],
      dtype=object)

In [28]:
bins = pd.qcut(draws, 4, labels=['low', 'medium', 
                                 'high', 'very high'])
# Display the bins
bins

# it will be error because qcut command only worrks with 
# numerical data
# bins = pd.qcut(my_cats_2, 4, labels=['low', 'medium',

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
df1['volume']
# Display the DataFrame with the categorical column

0    1.564438
1    1.331256
2    2.393235
3    0.746937
4    2.691024
5    3.767211
6    0.992983
7    3.795525
Name: volume, dtype: float64

In [32]:
# pd.qcut only works with 1D numerical data, not with a DataFrame.
# Let's use the 'value' column of df1 for binning.
bins1 = pd.qcut(df1['value'], 4, labels=['low', 'medium', 'high', 'very high'])
bins1

0         high
1          low
2    very high
3       medium
4          low
5    very high
6       medium
7         high
Name: value, dtype: category
Categories (4, object): ['low' < 'medium' < 'high' < 'very high']

In [30]:
bins2 = pd.qcut(df1['volume'].astype(float), 4)
bins2

0    (1.247, 1.979]
1    (1.247, 1.979]
2     (1.979, 2.96]
3    (0.746, 1.247]
4     (1.979, 2.96]
5     (2.96, 3.796]
6    (0.746, 1.247]
7     (2.96, 3.796]
Name: volume, dtype: category
Categories (4, interval[float64, right]): [(0.746, 1.247] < (1.247, 1.979] < (1.979, 2.96] < (2.96, 3.796]]

In [33]:
bins1.cat.categories

Index(['low', 'medium', 'high', 'very high'], dtype='object')

In [34]:
himpunan = pd.Series(bins1, name='classification')
# Display the Series
results = (pd.Series(draws[:len(bins1)])
           .groupby(himpunan)
           .agg(['count', 'min', 'max'])
           .reset_index())
results

C:\Users\NITRO\AppData\Local\Temp\ipykernel_9828\1331518340.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby(himpunan)

  classification  count       min       max
0            low      2  litecoin  litecoin
1         medium      2   bitcoin  litecoin
2           high      2   bitcoin   bitcoin
3      very high      2   bitcoin   bitcoin

In [35]:
results['classification']

0          low
1       medium
2         high
3    very high
Name: classification, dtype: category
Categories (4, object): ['low' < 'medium' < 'high' < 'very high']

In [36]:
N = 10_000_000
labels = pd.Series(['btc', 'litecoin', 'dogecoin', 'bch'] * (N // 4))
my_labels = labels.astype('category')
# Display the Categorical object
my_labels

0               btc
1          litecoin
2          dogecoin
3               bch
4               btc
             ...
9999995         bch
9999996         btc
9999997    litecoin
9999998    dogecoin
9999999         bch
Length: 10000000, dtype: category
Categories (4, object): ['bch', 'btc', 'dogecoin', 'litecoin']

In [37]:
my_labels.memory_usage(deep=True)

10000522

In [38]:
labels.memory_usage(deep=True)

545000132

In [39]:
%time _ = my_labels.astype('category')

CPU times: total: 0 ns
Wall time: 5.46 ms

In [40]:
%time _ = labels.astype('category')

CPU times: total: 359 ms
Wall time: 347 ms

In [41]:
%timeit labels.value_counts()

303 ms ± 2.75 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [42]:
%timeit my_labels.memory_usage(deep=True)

3.17 μs ± 32.2 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [43]:
%timeit my_labels.value_counts()

41.8 ms ± 1.14 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [44]:
# Categorical Methods

s = pd.Series(['btc', 'litecoin', 'dogecoin', 'bch'] * 2)
s

0         btc
1    litecoin
2    dogecoin
3         bch
4         btc
5    litecoin
6    dogecoin
7         bch
dtype: object

In [45]:
cat_s = s.astype('category')
cat_s

0         btc
1    litecoin
2    dogecoin
3         bch
4         btc
5    litecoin
6    dogecoin
7         bch
dtype: category
Categories (4, object): ['bch', 'btc', 'dogecoin', 'litecoin']

In [46]:
cat_s.cat.codes

0    1
1    3
2    2
3    0
4    1
5    3
6    2
7    0
dtype: int8

In [47]:
cat_s.cat.categories

Index(['bch', 'btc', 'dogecoin', 'litecoin'], dtype='object')

In [ ]:
actual_currencies = ['bitcoin', 'litecoin', 'dogecoin', 'bch','usdt']
cat_s2 = cat_s.cat.set_categories(actual_currencies, ordered=True)
cat_s2

# notes that btc and bitcoin are not the same in this case 
# data type - this is a categorical data type

0         NaN
1    litecoin
2    dogecoin
3         bch
4         NaN
5    litecoin
6    dogecoin
7         bch
dtype: category
Categories (5, object): ['bitcoin' < 'litecoin' < 'dogecoin' < 'bch' < 'usdt']

In [52]:
cat_s2.cat.categories

Index(['bitcoin', 'litecoin', 'dogecoin', 'bch', 'usdt'], dtype='object')

In [49]:
cat_s.value_counts()

bch         2
btc         2
dogecoin    2
litecoin    2
Name: count, dtype: int64

In [53]:
cat_s2.value_counts()

litecoin    2
bch         2
dogecoin    2
bitcoin     0
usdt        0
Name: count, dtype: int64

In [54]:
cat_s3 = cat_s[cat_s.isin(actual_currencies)]
cat_s3

1    litecoin
2    dogecoin
3         bch
5    litecoin
6    dogecoin
7         bch
dtype: category
Categories (4, object): ['bch', 'btc', 'dogecoin', 'litecoin']

In [55]:
cat_s3.cat.categories

Index(['bch', 'btc', 'dogecoin', 'litecoin'], dtype='object')

In [56]:
cat_s3.cat.remove_unused_categories()

1    litecoin
2    dogecoin
3         bch
5    litecoin
6    dogecoin
7         bch
dtype: category
Categories (3, object): ['bch', 'dogecoin', 'litecoin']

In [57]:
cat_s3

1    litecoin
2    dogecoin
3         bch
5    litecoin
6    dogecoin
7         bch
dtype: category
Categories (4, object): ['bch', 'btc', 'dogecoin', 'litecoin']

In [58]:
# Creating dummy variables from categorical data for modeling
# --- IGNORE ---

cat_s = pd.Series(['btc', 'litecoin', 'dogecoin', 'bch'] * 2, 
                  dtype='category')
pd.get_dummies(cat_s, prefix='currency', 
               prefix_sep='::', drop_first=False, dtype=int)

   currency::bch  currency::btc  currency::dogecoin  currency::litecoin
0              0              1                   0                   0
1              0              0                   0                   1
2              0              0                   1                   0
3              1              0                   0                   0
4              0              1                   0                   0
5              0              0                   0                   1
6              0              0                   1                   0
7              1              0                   0                   0