In [ ]:
import json

# Open the file 'obj_raiden.json' and read its content

with open('obj_raiden.json', 'r') as f:
    content = f.read().strip()
    if content:
        hasil = json.loads(content)
        print(hasil)
    else:
        print("File is empty or does not contain valid JSON.")

{'name': 'Raiden Shogun', 'nation': ['Inazuma', 'Mondstad', 'Sumeru', 'Natlan'], 'pet': None, 'siblings': [{'name': 'Makoto', 'age': 1000, 'hobbies': ['katana', 'fishing']}, {'name': 'Yae', 'age': 1000, 'hobbies': ['flirting', 'foxing']}]}

In [26]:
asjson = json.dumps(hasil, indent=4, ensure_ascii=False)

asjson

'{\n    "name": "Raiden Shogun",\n    "nation": [\n        "Inazuma",\n        "Mondstad",\n        "Sumeru",\n        "Natlan"\n    ],\n    "pet": null,\n    "siblings": [\n        {\n            "name": "Makoto",\n            "age": 1000,\n            "hobbies": [\n                "katana",\n                "fishing"\n            ]\n        },\n        {\n            "name": "Yae",\n            "age": 1000,\n            "hobbies": [\n                "flirting",\n                "foxing"\n            ]\n        }\n    ]\n}'

In [28]:
asjson = json.dumps(hasil)
asjson = asjson.replace('\"', '\\"')
asjson

'{\\"name\\": \\"Raiden Shogun\\", \\"nation\\": [\\"Inazuma\\", \\"Mondstad\\", \\"Sumeru\\", \\"Natlan\\"], \\"pet\\": null, \\"siblings\\": [{\\"name\\": \\"Makoto\\", \\"age\\": 1000, \\"hobbies\\": [\\"katana\\", \\"fishing\\"]}, {\\"name\\": \\"Yae\\", \\"age\\": 1000, \\"hobbies\\": [\\"flirting\\", \\"foxing\\"]}]}'

In [30]:
asjson = json.dumps(hasil)
asjson

'{"name": "Raiden Shogun", "nation": ["Inazuma", "Mondstad", "Sumeru", "Natlan"], "pet": null, "siblings": [{"name": "Makoto", "age": 1000, "hobbies": ["katana", "fishing"]}, {"name": "Yae", "age": 1000, "hobbies": ["flirting", "foxing"]}]}'

In [49]:
# The variable 'hasil' is already defined and contains the loaded JSON data
hasil

{'name': 'Raiden Shogun',
 'nation': ['Inazuma', 'Mondstad', 'Sumeru', 'Natlan'],
 'pet': None,
 'siblings': [{'name': 'Makoto',
   'age': 1000,
   'hobbies': ['katana', 'fishing']},
  {'name': 'Yae', 'age': 1000, 'hobbies': ['flirting', 'foxing']}]}

In [ ]:
siblings = hasil.get('siblings', [])

# Print the siblings if they exist
if siblings:
    print("Siblings found:")
    for sibling in siblings:
        print(sibling)  
else:
    print("No siblings found in the JSON data.")
# Print the JSON data in a formatted way

sibling

Siblings found:
{'name': 'Makoto', 'age': 1000, 'hobbies': ['katana', 'fishing']}
{'name': 'Yae', 'age': 1000, 'hobbies': ['flirting', 'foxing']}

{'name': 'Yae', 'age': 1000, 'hobbies': ['flirting', 'foxing']}

In [ ]:
import pandas as pd

sister = pd.DataFrame(siblings, columns=['name', 'age'])
sister
# Display the DataFrame

     name   age
0  Makoto  1000
1     Yae  1000

In [54]:
import json

file_path = "ex8.json"

create_data = [
    {"a": 1, "b": 2, "c": 3},
    {"a": 4, "b": 5, "c": 6},
    {"a": 7, "b": 8, "c": 9}
]

with open(file_path, "w", newline="") as f:
    json.dump(create_data, f, indent=4)

# Read the created JSON file to verify its content 
print("File: ", file_path)
print("Json File {file_path} created successfully with the following data")

File:  ex8.json
Json File {file_path} created successfully with the following data

In [55]:
data_json = pd.read_json(file_path)
data_json
# Display the DataFrame

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [56]:
# Exporting the DataFrame to a json file to csv file
data_json.to_csv("ex8.csv", index=False)

In [58]:
# Exporting DataFrame to JSON file
data_json.to_json("out.json", orient="records", lines=True)

In [59]:
!type out.json
# Display the DataFrame

{"a":1,"b":2,"c":3}
{"a":4,"b":5,"c":6}
{"a":7,"b":8,"c":9}