In [39]:
%pip install lxml

import pandas as pd

tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)')

Requirement already satisfied: lxml in c:\users\nitro\appdata\local\programs\python\python312\lib\site-packages (5.4.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [40]:
tables # Extract the first table which contains the GDP data

[                                                   0
 0  Largest economies in the world by GDP (nominal...,
                                                    0  \
 0  > $20 trillion $10–20 trillion $5–10 trillion ...

                                                    1  \
 0  $750 billion – $1 trillion $500–750 billion $2...

                                                    2
 0  $50–100 billion $25–50 billion $5–25 billion <...  ,
     Country/Territory IMF[1][12]            World Bank[13]             \
     Country/Territory   Forecast       Year       Estimate       Year
 0               World  113795678       2025      105435540       2023
 1       United States   30507217       2025       27360935       2023
 2               China   19231705  [n 1]2025       17794782  [n 3]2023
 3             Germany    4744804       2025        4456081       2023
 4               India    4187017       2025        3549919       2023
 ..                ...        ...        ...            ...        ...
 205             Palau        333       2025            263       2023
 206          Kiribati        312       2025            279       2023
 207  Marshall Islands        297       2025            284       2023
 208             Nauru        169       2025            154       2023
 209            Tuvalu         65       2025             62       2023

     United Nations[14]
               Estimate       Year
 0            100834796       2022
 1             25744100       2022
 2             17963170  [n 1]2022
 3              4076923       2022
 4              3465541       2022
 ..                 ...        ...
 205                225       2022
 206                223       2022
 207                279       2022
 208                147       2022
 209                 59       2022

 [210 rows x 7 columns],
          vteLists of countries by financial rankings  \
 0                                              Trade
 1                                         Investment
 2                                              Funds
 3                                    Budget and debt
 4                                   Income and taxes
 5                                         Bank rates
 6                                           Currency
 7                                              Other
 8  Lists of countries by GDP rankings List of int...

        vteLists of countries by financial rankings.1
 0  Account balance Exports by product merchandise...
 1                   FDI received past FDI abroad GFI
 2  Forex reserves Gold reserves Sovereign wealth ...
 3  Government budget PPP % of GDP per capita Cred...
 4  Wage average Disposable minimum Wage growth GN...
 5  Central bank interest rate Commercial bank pri...
 6                                     Inflation rate
 7  Financial Development Index Average annual lab...
 8  Lists of countries by GDP rankings List of int...  ,
                vteLists of countries by GDP rankings  \
 0                                            Nominal
 1                      Purchasing power parity (PPP)
 2                                         Per capita
 3                                         GDP growth
 4                        Gross national income (GNI)
 5                                Countries by region
 6                              Subnational divisions
 7  Lists of countries by financial rankings List ...

              vteLists of countries by GDP rankings.1
 0  GDP (nominal) Past and projected Sector compos...
 1  GDP (PPP) Past Past and projected Ten largest ...
 2  nominal GDP Past and projected GDP (PPP) by re...
 3  real GDP growth rate African countries Asian s...
 4  PPP per capita Nominal per capita Real income ...
 5  Africa PPP nominal Commonwealth of Nations PPP...
 6  Albania Argentina Armenia Australia Austria Ba...
 7  Lists of countries by financial rankings List ...  ,
               vteEconomic classification of countries  \
 0   Developed country Developing country Heavily i...
 1                              Three/Four-World Model
 2                        Gross domestic product (GDP)
 3                                             Nominal
 4                       Purchasing power parity (PPP)
 5                    Gross national income and Income
 6                                    Wages and salary
 7                                              Wealth
 8                             Other national accounts
 9                                   Human development
 10                                     Digital divide
 11       Net international investment position (NIIP)
 12                     Economics portal  World portal

             vteEconomic classification of countries.1
 0   Developed country Developing country Heavily i...
 1   First World Second World Third World Fourth World
 2   Nominal By country past and projected per capi...
 3   By country past and projected per capita per c...
 4   By country future estimates per capita per cap...
 5   Disposable income GNI (nominal) per capita GNI...
 6   Average wage Europe Employee compensation (per...
 7   Wealth per adult Europe Financial assets per c...
 8   Gross National Happiness Net material product ...
 9   Human Development Index by country inequality-...
 10  ICT Development Index Number of broadband Inte...
 11        Per capita (creditors) Per capita (debtors)
 12                     Economics portal  World portal  ,
                                0  \
 0                        Nominal
 1  Purchasing power parity (PPP)

                                                    1
 0  By country past and projected per capita per c...
 1  By country future estimates per capita per cap...  ]

In [41]:
len(tables)  # Check how many tables were extracted

7

In [42]:
failure = tables[0]  # Extract the first table which contains the GDP data
failure.head()  # Display the first few rows of the table to verify its structure

                                                   0
0  Largest economies in the world by GDP (nominal...

In [43]:
failure1 = tables[1]  # Extract the second table which contains the GDP data
failure1.head()
  # Drop the first level of the MultiIndex columns

,0,1,2
0,> $20 trillion $10–20 trillion $5–10 trillion ...,$750 billion – $1 trillion $500–750 billion $2...,$50–100 billion $25–50 billion $5–25 billion <...

In [44]:
failure2 = tables[2]  # Extract the third table which contains the GDP data
failure2.head()  # Display the first few rows of the third table to verify its structure

  Country/Territory IMF[1][12]            World Bank[13]             \
  Country/Territory   Forecast       Year       Estimate       Year
0             World  113795678       2025      105435540       2023
1     United States   30507217       2025       27360935       2023
2             China   19231705  [n 1]2025       17794782  [n 3]2023
3           Germany    4744804       2025        4456081       2023
4             India    4187017       2025        3549919       2023

  United Nations[14]
            Estimate       Year
0          100834796       2022
1           25744100       2022
2           17963170  [n 1]2022
3            4076923       2022
4            3465541       2022

In [45]:
failure3 = tables[3]  # Extract the fourth table which contains the GDP data
failure3.head()  # Display the first few rows of the fourth table to verify its structure

,vteLists of countries by financial rankings,vteLists of countries by financial rankings.1
0,Trade,Account balance Exports by product merchandise...
1,Investment,FDI received past FDI abroad GFI
2,Funds,Forex reserves Gold reserves Sovereign wealth ...
3,Budget and debt,Government budget PPP % of GDP per capita Cred...
4,Income and taxes,Wage average Disposable minimum Wage growth GN...

In [46]:
failure2.columns

MultiIndex([( 'Country/Territory', 'Country/Territory'),
            (        'IMF[1][12]',          'Forecast'),
            (        'IMF[1][12]',              'Year'),
            (    'World Bank[13]',          'Estimate'),
            (    'World Bank[13]',              'Year'),
            ('United Nations[14]',          'Estimate'),
            ('United Nations[14]',              'Year')],
           )

In [47]:
# Extract only the 4-digit year from the string, then convert to datetime
close_time = pd.to_datetime(
	failure2[('IMF[1][12]', 'Year')].astype(str).str.extract(r'(\d{4})')[0],
	format='%Y'
)
# Assign the extracted datetime to the 'close_time' column
failure2['close_time'] = close_time
# Display the first few rows of the modified table to verify the new 'close_time' column
close_time.dt.year.value_counts
# Extract the GDP data for the year 2021

<bound method IndexOpsMixin.value_counts of 0      2025.0
1      2025.0
2      2025.0
3      2025.0
4      2025.0
        ...
205    2025.0
206    2025.0
207    2025.0
208    2025.0
209    2025.0
Name: 0, Length: 210, dtype: float64>

In [48]:
close_time.dt.year.value_counts()
# Filter the table for the year 2021

0
2025.0    190
2023.0      1
Name: count, dtype: int64

In [57]:
from lxml import objectify

# Sanitize column names to be valid XML tags
import re

failure2_clean = failure2.copy()
def sanitize_xml_tag(tag):
    # Replace invalid characters with underscore and remove brackets
    tag = re.sub(r'[^a-zA-Z0-9_.-]', '_', str(tag))
    tag = re.sub(r'[\[\]]', '', tag)
    # Ensure tag does not start with a digit
    if re.match(r'^\d', tag):
        tag = '_' + tag
    return tag

failure2_clean.columns = [
    sanitize_xml_tag('_'.join([str(c) for c in col])) if isinstance(col, tuple)
    else sanitize_xml_tag(col)
    for col in failure2_clean.columns
]

# Save the DataFrame to an XML file
xml_path = 'gdp_data.xml'
failure2_clean.to_xml(xml_path, index=False)

with open(xml_path) as f:
    parsed = objectify.parse(f)
root = parsed.getroot()

# Example: Extract all rows as dicts
data_gdp = []
for row in root.iterchildren():
    row_data = {}
    for child in row.iterchildren():
        row_data[child.tag] = child.pyval
    data_gdp.append(row_data)

# Convert the extracted data into a DataFrame
performance_df = pd.DataFrame(data_gdp)
performance_df.head()

,Country_Territory_Country_Territory,IMF_1__12__Forecast,IMF_1__12__Year,World_Bank_13__Estimate,World_Bank_13__Year,United_Nations_14__Estimate,United_Nations_14__Year,close_time_
0,World,113795678,2025,105435540,2023,100834796,2022,2025-01-01 00:00:00
1,United States,30507217,2025,27360935,2023,25744100,2022,2025-01-01 00:00:00
2,China,19231705,[n 1]2025,17794782,[n 3]2023,17963170,[n 1]2022,2025-01-01 00:00:00
3,Germany,4744804,2025,4456081,2023,4076923,2022,2025-01-01 00:00:00
4,India,4187017,2025,3549919,2023,3465541,2022,2025-01-01 00:00:00

In [ ]:
skip_rows = ["close_time", "IMF[1][12]"]

# Clear data_gdp if you want to start fresh, otherwise you will append to existing data
data_gdp = []

for row in root.iterchildren():
    el_data = {}
    for child in row.iterchildren():
        if child.tag in skip_rows:
            continue  # Skip the 'close_time' and 'IMF[1][12]' columns
        el_data[child.tag] = child.pyval
    data_gdp.append(el_data)

performance2 = pd.DataFrame(data_gdp)  # Convert the list of dictionaries to a DataFrame
performance2.head()  # Display the first few rows of the DataFrame to verify its structure

AttributeError: no such child: INDICATOR